* {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    font-family: $ff;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

ul {
    list-style: none;
}