.btns-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.btns-row--horizontal > * {
    margin-right: $space;
}

.btns-row--horizontal > *:last-child {
    margin-right: 0;
}

.btns-row--vertical {
    flex-direction: column;
    align-items: flex-start;
}

.btns-row--vertical > * {
    margin-bottom: $space;
}

.btns-row--vertical > *:last-child {
    margin-bottom: 0;
}

.btns-row--start {
    justify-content: flex-start;
}

.btns-row--end {
    justify-content: flex-end;
}

.btns-row--center {
    justify-content: center;
}

.btns-row--between {
    justify-content: space-between;
}