
.btn {
    color: $color-white;
    font-size: $fz-sm;
    border: 1px solid $color-deep-blue;
    background-color: $color-deep-blue;
    border-radius: $b-rad;
    cursor: pointer;
    padding: $space-sm $space-lg;
    box-shadow: none;
    transition: $transition-time all;
    position: relative;
    overflow: hidden;
}

.btn::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: rgba($color-deep-blue, $btn-active-opacity);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    transition: all $transition-time;
}

.btn:hover {
    color: $color-deep-blue;
    background-color: $color-white;
}

.btn:active::after {
    width: 200px;
    height: 200px;
}

// BTN STYLES

.btn--green {
    border-color: $color-green;
    background-color: $color-green;
}

.btn--green:hover {
    background-color: $color-white;
    color: $color-green;
}

.btn--green:active::after {
    background-color: rgba($color-green, $btn-active-opacity);
}

.btn--green.btn--min {
    color: $color-green;
}

.btn--green.btn--min:hover {
    color: $color-green;
    background-color: rgba($color-green, $btn-min-opacity);
}

.btn--green::after {
    background-color: rgba($color-green, $btn-active-opacity);
}

.btn--red {
    border-color: $color-red;
    background-color: $color-red;
}

.btn--red:hover {
    background-color: $color-white;
    color: $color-red;
}


.btn--red.btn--min {
    color: $color-red;
}

.btn--min.btn--red:hover {
    color: $color-red;
    background-color: rgba($color-red, $btn-min-opacity);
}

.btn--red::after {
    background-color: rgba($color-red, $btn-active-opacity);
}

.btn--yellow {
    border-color: $color-yellow;
    background-color: $color-yellow;
}

.btn--yellow:hover {
    background-color: $color-white;
    color: $color-yellow;
}


.btn--yellow.btn--min {
    color: $color-yellow;
}

.btn--min.btn--yellow:hover {
    color: $color-yellow;
    background-color: rgba($color-yellow, $btn-min-opacity);
}

.btn--yellow::after {
    background-color: rgba($color-yellow, $btn-active-opacity);
}



// BTN COLORS

.btn--min {
    border-color: transparent;
    background-color: transparent;
    color: $color-deep-blue;
}

.btn--min:hover {
    background-color: rgba($color-deep-blue, $btn-min-opacity);
    text-decoration: none;
    color: $color-deep-blue;
}

// BTN TYPES

// BTN SIZES

.btn--sm {
    font-size: $fz-xs;
    padding: $space-sm $space-md;
}

.btn--md {
    font-size: $fz;
    padding: $space-sm $space-xl;
}

.btn--lg {
    font-size: $fz-md;
    padding: $space-sm ($space-md + $space-lg);
}

