.checkbox {
    display: none;
}

.checkbox-text {
    position: relative;
    padding-left: $checkbox-icon-size + $space-sm;
    font-size: $fz-sm;
}

.checkbox-text::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: $checkbox-icon-size;
    height: $checkbox-icon-size;
    background: url('img/svg/check-box-empty.svg') no-repeat center;
    background-size: cover;
    transition: background $transition-time;
}

.checkbox:checked + .checkbox-text::before {
    background-image: url('img/svg/check-box-full.svg');
}


.checkbox-label {

}