.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form > * {
    margin-bottom: $space-xl;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form--inner {

}

.form--outer {
    box-shadow: $shadow;
    padding: $space-lg;
    border-radius: $b-rad;
}