.radio {
    display: none;
}

.radio-text {
    position: relative;
    padding-left: $radio-icon-size + $space-sm;
    font-size: $fz-sm;
}

.radio-text::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: $radio-icon-size;
    height: $radio-icon-size;
    background: url('img/svg/radio-off.svg') no-repeat center;
    background-size: cover;
    transition: background $transition-time;
}

.radio:checked + .radio-text::before {
    background-image: url('img/svg/radio-on.svg');
}


.radio-label {

}